<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="To-Do Manager - Organize your tasks efficiently.">
    <meta name="author" content="Omar Dawoud">
    <meta name="keywords" content="To-Do, Task Manager, Productivity, Organization">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if custom_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css) }}">
    {% endif %}
</head>
<body>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="theme-toggle">
            <input type="checkbox" id="theme-toggle" />
            <span class="slider round"></span>
        </label>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    
    <script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
</body>
</html>